@import "tailwindcss";
* {
    font-family: "Roboto Flex", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-8px);
    }
}

.animation-float {
    animation: float 2s ease-in-out infinite;
}

@keyframes appear {
    from {
        opacity: 0.6;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}